Adafruit-Blinka==9.1.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-dht==4.0.12
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
blinker==1.9.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
Flask==3.1.3
idna==3.16
influxdb_client==1.50.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pyftdi==0.57.1
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.3.1
reactivex==4.1.0
requests==2.34.2
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
six==1.17.0
slack_sdk==3.42.0
sysv_ipc==1.2.0
typing_extensions==4.15.0
urllib3==2.7.0
Werkzeug==3.1.8
