[Unit]
Description=Control Api

[Service]
ExecStart=/home/pi/venv/bin/python3 /home/pi/plantbot/src/control_api.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
