[Unit]
Description=DHT11 Sensor

[Service]
ExecStart=/home/pi/venv/bin/python3 /home/pi/plantbot/src/dht11.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
