[Unit]
Description=MJPEG Streamer
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mjpg_streamer \
-i "input_uvc.so -d /dev/video0 -r 1280x720 -f 30" \
-o "output_http.so -w /usr/local/share/mjpg-streamer/www -p 8080"

Restart=always
RestartSec=5

User=pi

[Install]
WantedBy=multi-user.target
