[Unit]
Description=Water Level Sensor

[Service]
ExecStart=/home/pi/venv/bin/python3 /home/pi/plantbot/src/water_level.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
